<div class="mx-auto max-w-sm">
  <.header class="text-center">
    Register for Coinchette
    <:subtitle>
      Already have an account?
      <.link navigate="/login" class="font-semibold text-brand hover:underline">
        Log in
      </.link>
    </:subtitle>
  </.header>

  <.form :let={f} for={@changeset} action={~p"/register"}>
    <.input field={f[:email]} type="email" label="Email" required />
    <.input field={f[:username]} type="text" label="Username" required />
    <.input field={f[:password]} type="password" label="Password" required />
    <.input
      field={f[:password_confirmation]}
      type="password"
      label="Confirm Password"
      required
    />

    <div class="mt-6">
      <.button type="submit" class="w-full">
        Create an account
      </.button>
    </div>
  </.form>
</div>
